<!DOCTYPE html>
{% load static %}
<HTML>

<head>
    <title>福利</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class='top-bar-container'>
        <div class="top-left">
            <h2>
                福利管理系统
            </h2>
        </div>
        <span class='logout'>
            <a href="/accounts/logout/">登 出</a>
        </span>
    </div>
    <div class='main_page'>
        <div class='app'>
            <a href="/equipment_manage/equipment_list">福利管理系统</a>
        </div>
        <!-- <div class='app'>
            <a href="">生产管理系统</a>
        </div> -->
    </div>


</body>

</HTML>